<div class="appVersion">
    <mat-card>
        <mat-card-content>
            <img class="icon" src="assets/img/magnet.svg" /><br />

            <h2>{{ Title }}</h2>
            <h5>Version: {{ version }}</h5>
            <span class="squad"
                ><b>{{ '&copy;' + date.getFullYear() }}</b
                ><a href="https://github.com/Johngtka"> @johngtka</a
                ><a href="https://github.com/macrog"> @macrog</a> All rights
                reserved</span
            >
        </mat-card-content>
    </mat-card>
</div>
