<div class="appVersion">
    <mat-card>
        <mat-card-content>
            <img class="icon" src="assets/img/magnet.svg" /><br />
            <span class="title">{{ Title }}</span><br />
            <span class="info">Version: {{ version }}</span><br />
            <span class="squad">{{ '&copy;' + date.getFullYear()
                }}<a href="https://github.com/Johngtka">@johngtka</a><a href="https://github.com/macrog">@macrog</a>,
                All rights
                reserved</span>
        </mat-card-content>
    </mat-card>
</div>