.mat-mdc-card-content:first-child,
.mat-mdc-card-content:first-child {
    padding: 0;
    margin: 0;
}

.patientDetails {
    text-align: center;
}

.patientInfoLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.patientInfoLine p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
}

.close-btn {
    position: fixed;
    z-index: 1;
    right: 1rem;
}

@media screen and (max-width: 400px) {
    .close-btn,
    .visit-btn {
        width: auto;
        height: auto;
    }

    .close-btn mat-icon,
    .visit-btn mat-icon {
        font-size: 15px;
        line-height: 24px;
    }
}

.panel {
    margin-top: 1.5rem;
}

.visit-btn {
    position: fixed;
    right: 1em;
    bottom: 1em;
}
