.mat-mdc-card-content:first-child,
.mat-mdc-card-content:first-child {
    padding: 0;
    margin: 0;
}

.patientDetails {
    text-align: center;
}

.patientInfoLine {
    position: relative;
}

.patientInfoLine p {
    margin-right: 1rem;
}

.close-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

@media screen and (max-width: 400px) {
    .close-btn {
        width: auto;
        height: auto;
    }
}

.panel {
    margin-top: 20px;
}

.visit-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
