<<<<<<< HEAD
.patientDetails {
    text-align: center;
}
.mat-mdc-card-content:first-child {
    padding: 0;
}
.visit-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
=======
.patientDetails {
    text-align: center;
}
.panel {
    margin-top: 20px;
}
.visit-btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
>>>>>>> 47fd7d40b78798bf2869c05fb77c4a08a65432c0
