<div class="col-md-4">
    <h3>{{ fullyMonthCompose }}</h3>
</div>
<mwl-calendar-month-view
    *ngIf="!!dataSource && dataSource.length"
    [viewDate]="viewDate"
    [events]="dataSource"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
>
</mwl-calendar-month-view>
<div class="loader-container mat-elevation-z8" *ngIf="isLoadingResults">
    <mat-spinner></mat-spinner>
</div>
<div class="calendarManipulationPanel">
    <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
    >
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button
        mat-stroked-button
        color="primary"
        class="todayButton"
        aria-label="Example icon button with a menu icon"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
    >
        Today
    </button>

    <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
    >
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>
