h3 {
    width: 100%;
    text-align: center;
}

.calendarManipulationPanel {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.todayButton {
    margin-left: 10px;
    margin-right: 10px;
}
