<div class="col-md-4">
    <h3>{{ fullyMonthCompose }}</h3>
</div>
<div *ngIf="events$ | async; else loading; let events">
    <mwl-calendar-month-view
        *ngIf="!isError"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
    >
    </mwl-calendar-month-view>

    <div *ngIf="isError">
        <app-empty-state
            text="EMPTY_STATE.TEXT"
            icon="storage"
        ></app-empty-state>
    </div>
</div>

<ng-template #loading>
    <div *ngIf="isLoadingEvents" class="loader-container mat-elevation-z8">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="isError">
        <app-empty-state
            text="EMPTY_STATE.TEXT"
            icon="storage"
        ></app-empty-state>
    </div>
</ng-template>

<div class="calendarManipulationPanel">
    <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
    >
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button
        mat-stroked-button
        color="primary"
        class="todayButton"
        aria-label="Example icon button with a menu icon"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
    >
        Today
    </button>

    <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
    >
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>
