<div>
    <app-patient-search (selectedPatient)="selectPatient($event)">
    </app-patient-search>
</div>

<p [hidden]="!patient.name">
    {{ 'PATIENT_VISIT.SELECT.ACTIVE' | translate }}
    {{ patient.name + ' ' + patient.surname }}
</p>
<p [hidden]="patient.name">
    {{ 'PATIENT_VISIT.ERROR.NO_PATIENT' | translate }}
</p>
<table
    mat-table
    [hidden]="!patient.name"
    [dataSource]="store"
    class="mat-elevation-z8"
>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>
            {{ 'VISIT_TABLE.ID' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.id }}
        </td>
    </ng-container>
    <ng-container matColumnDef="negativepoint">
        <th mat-header-cell *matHeaderCellDef>
            {{ 'VISIT_TABLE.NGPOINT' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.negativePoint }}
        </td>
    </ng-container>
    <ng-container matColumnDef="positivepoint">
        <th mat-header-cell *matHeaderCellDef>
            {{ 'VISIT_TABLE.POPOINT' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.positivePoint }}
        </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
            {{ 'VISIT_TABLE.NAME' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.name }}
        </td>
    </ng-container>
    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>
            {{ 'VISIT_TABLE.IMAGE' | translate }}
        </th>
        <td mat-cell *matCellDef="let element">
            {{ element.image }}
        </td>
    </ng-container>
</table>
