<div *ngIf="!patient.name">
    <app-patient-search (selectedPatient)="selectPatient($event)">
    </app-patient-search>
</div>
<p [hidden]="!patient.name" class="info">
    <span
        >{{ 'PATIENT_VISIT.SELECT.ACTIVE' | translate }}
        {{ patient.name + ' ' + patient.surname }}</span
    >
    <button
        (click)="toggleTableVisibility()"
        class="add-btn"
        mat-mini-fab
        color="primary"
    >
        <i class="material-icons">close</i>
    </button>
</p>
<p [hidden]="patient.name">
    {{ 'PATIENT_VISIT.ERROR.NO_PATIENT' | translate }}
</p>
<div [hidden]="!patient.name" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.ID' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.id }}
            </td>
        </ng-container>
        <ng-container matColumnDef="negativePoint">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.NEGATIVE_POINT' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.negativePoint }}
            </td>
        </ng-container>
        <ng-container matColumnDef="positivePoint">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.POSITIVE_POINT' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.positivePoint }}
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.NAME' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.name }}
            </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.TYPE' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.type }}
            </td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.IMAGE' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <img class="bodyPoints" src="{{ element.image }}" />
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="clickedRow(row)"
            [ngClass]="{ selectedRow: visitPoints.indexOf(row.id) > -1 }"
        ></tr>
    </table>
    <div class="loader-container" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <mat-paginator
        (page)="pageTriggerManually()"
        [pageSizeOptions]="[10]"
        aria-label="Select page"
    >
    </mat-paginator>
</div>
<div [hidden]="!patient.name">
    <mat-form-field *ngIf="showFinish">
        <mat-label>{{ 'PATIENT_VISIT.NOTES' | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="noteVal" />
    </mat-form-field>
    <button
        class="add-btn"
        [hidden]="!showFinish"
        (click)="sendVisit()"
        mat-raised-button
        color="primary"
    >
        {{ 'PATIENT_VISIT.FINISH_BUTTONS.FINISH' | translate }}
    </button>
    <button
        class="add-btn"
        [hidden]="!showCheck || showFinish"
        (click)="createVisitPointsTable()"
        mat-raised-button
        color="primary"
    >
        {{ 'PATIENT_VISIT.FINISH_BUTTONS.CHECK' | translate }}
    </button>
</div>
