.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::ng-deep .mat-mdc-paginator-page-size-label,
::ng-deep .mat-mdc-paginator-page-size-value {
    display: none;
}

@media screen and (min-width: 400px) {
    .selectedRow .bodyPoints {
        display: flex;
        width: 250px;
    }
}

@media screen and (max-width: 400px) {
    .info {
        padding: 0.5rem 1rem 0.5rem 1rem;
        height: auto;
    }

    .noPatientSelected {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .info button {
        width: auto;
        height: auto;
    }
}
.add-btn {
    float: right;
}
.mat-mdc-row {
    cursor: pointer;
}
.selectedRow,
.selectedRow:hover {
    background-color: lightgray !important;
}
tr.detail-row {
    height: 0;
}

.mat-column-negativePoint,
.details-row > td:nth-child(1) {
    width: 20%;
}
.mat-column-positivePoint,
.details-row > td:nth-child(2) {
    width: 20%;
}
.mat-column-type,
.details-row > td:nth-child(3) {
    width: 5%;
}
.mat-column-name,
.details-row > td:nth-child(4) {
    width: 10%;
}
.mat-column-image,
.details-row > td:nth-child(5) {
    width: 20%;
}
.mat-column-moreInfo,
.details-row > td:nth-child(6) {
    width: 25%;
}
.selectedRow .bodyPoints {
    display: flex;
}
.bodyPoints {
    display: flex;
    width: 100px;
}
.full-width {
    width: 100%;
}
.no-padding {
    padding: 0px !important;
}
.flex {
    display: flex;
}
.align-middle {
    vertical-align: middle;
    line-height: 52px;
}
table {
    width: 100%;
}
.mr {
    margin-right: 1rem;
}

.lowercase {
    text-transform: lowercase;
}
.block {
    display: block;
}
.mat-column-point,
.details-row-mobile > td:nth-child(2) {
    width: 80%;
}
