<div *ngIf="!patient.name">
    <app-patient-search (selectedPatient)="selectPatient($event)">
    </app-patient-search>
</div>
<p [hidden]="!patient.name" class="info">
    <span
        >{{ 'PATIENT_VISIT.SELECT.ACTIVE' | translate }}
        {{ patient.name + ' ' + patient.surname }}</span
    >
    <button
        (click)="toggleTableVisibility()"
        class="add-btn"
        mat-mini-fab
        color="primary"
    >
        <mat-icon>close</mat-icon>
    </button>
</p>
<p [hidden]="patient.name">
    {{ 'PATIENT_VISIT.ERROR.NO_PATIENT' | translate }}
</p>
<div class="full-width" [hidden]="!patient.name">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.NAME' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="!element.child">{{ element.name }}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="negativePoint">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.NEGATIVE_POINT' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <span>{{ element.negativePoint }}</span>
                <mat-icon *ngIf="!!element.child">keyboard_arrow_down</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="positivePoint">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.POSITIVE_POINT' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="!element.child"> {{ element.positivePoint }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.TYPE' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="!element.child">{{ element.type }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.IMAGE' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="!element.child"
                    ><img class="bodyPoints" src="{{ element.image }}"
                /></span>
            </td>
        </ng-container>

        <ng-container matColumnDef="moreInfo">
            <th mat-header-cell *matHeaderCellDef>
                {{ 'VISIT_TABLE.MORE_INFO' | translate }}
            </th>
            <td mat-cell *matCellDef="let element">
                <span *ngIf="!element.child">{{ element.moreInfo }}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
            <td
                mat-cell
                *matCellDef="let element"
                class="full-width no-padding"
                [attr.colspan]="columnsToDisplayWithExpand.length"
            >
                <tr
                    [@detailExpand]="
                        element == expandedElement ? 'expanded' : 'collapsed'
                    "
                    mat-cell
                    *ngFor="let kid of element.child"
                    class="flex details-row"
                    (click)="clickedRow(kid)"
                    [ngClass]="{
                        selectedRow: visitPoints.indexOf(kid._id) > -1
                    }"
                >
                    <ng-container *ngFor="let column of displayedColumns">
                        <td class="align-middle" mat-cell>
                            <span [ngSwitch]="column">
                                <span *ngSwitchCase="'image'">
                                    <img
                                        class="bodyPoints"
                                        src="{{ kid[column] }}"
                                    />
                                </span>

                                <span *ngSwitchDefault>{{ kid[column] }}</span>
                            </span>
                        </td>
                    </ng-container>
                </tr>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplayWithExpand"
            class="element-row"
            (click)="clickedRow(element)"
            [ngClass]="{
                selectedRow:
                    visitPoints.indexOf(element._id) > -1 && !element.child
            }"
            [class.example-expanded-row]="expandedElement === element"
            (click)="
                element.child?.length > 0 &&
                    (expandedElement =
                        expandedElement === element ? null : element)
            "
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="detail-row"
        ></tr>
    </table>

    <div class="loader-container" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
    </div>
    <mat-paginator
        (page)="pageTriggerManually()"
        [pageSizeOptions]="[10]"
        aria-label="Select page"
    >
    </mat-paginator>
</div>
<div [hidden]="!patient.name">
    <mat-form-field *ngIf="showFinish">
        <mat-label>{{ 'PATIENT_VISIT.NOTES' | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="noteVal" />
    </mat-form-field>
    <button
        class="add-btn"
        [hidden]="!showFinish"
        (click)="sendVisit()"
        mat-raised-button
        color="primary"
    >
        {{ 'PATIENT_VISIT.FINISH_BUTTONS.FINISH' | translate }}
    </button>
    <!-- <button
        class="add-btn"
        [hidden]="!showFinish"
        (click)="createVisitPointsTable()"
        mat-raised-button
        color="primary"
    >
        {{ 'PATIENT_VISIT.FINISH_BUTTONS.CHECK' | translate }}
    </button> -->
    <button
        color="primary"
        class="add-btn"
        mat-raised-button
        (click)="showMR()"
        [hidden]="!showCheck || showMrButton"
    >
        {{ 'PATIENT_VISIT.STEPS_BUTTONS.MORE_RESERVOIRS' | translate }}
    </button>
    <button
        color="primary"
        class="add-btn"
        mat-raised-button
        (click)="showUP()"
        [hidden]="!showCheck || showUpButton"
    >
        {{ 'PATIENT_VISIT.STEPS_BUTTONS.UNIVERSAL_POINTS' | translate }}
    </button>
    <button
        color="primary"
        class="add-btn"
        mat-raised-button
        (click)="createVisitPointsTable()"
        [hidden]="!showNext"
    >
        {{ 'PATIENT_VISIT.STEPS_BUTTONS.NEXT' | translate }}
    </button>
    <!-- <button
        color="primary"
        class="add-btn"
        mat-raised-button
        (click)="showUpTableSummary()"
        [hidden]="!showCheck || showNextToUp"
    >
        {{ 'PATIENT_VISIT.STEPS_BUTTONS.NEXT' | translate }}
    </button> -->
</div>
