.patient-form {
  width: 30%;
  background-color: rgb(164, 164, 163);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.patient-full-width {
  background-color: brown;
  text-align: center;
}