.wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.patient-full-width {
    text-align: center;
    width: 50%;
}

@media screen and (max-width: 400px) {
    .patient-full-width {
        text-align: center;
        width: 100%;
    }

    .wrapper {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
